node_modules/
dist/
standalone/node_modules/
standalone/dist/
standalone/public/
standalone/release/
*.exe

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
